html {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    height: 100vh;
    background-color:aliceblue;
    border: 20px solid black;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

section {
    background-color: aqua;    
}


.section-one {
    padding: 1px;
    background-color:rgb(245, 238, 230);
    border: 20px solid rgb(189, 238, 115);
}

.section-two {
    padding: 1px;
    margin-top: 20px;
    background-color:antiquewhite;
    border: 20px dotted black;
}

div {
    padding: 1px;
    margin-top: 20px;
    background-color: bisque;
   
    background-color: antiquewhite;
    border: 20px;
    border-style: solid;
    border-color:blue;
    
    border: 20px solid green;
} 

/* this css style is for the positioning.html


body {
    padding: 10px;
    margin: 0;
    display: flex;
    background-color: aliceblue;
}

section {
    padding: 20px;
    content: " ";
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 45%;

}

.div-one {
    content: " ";
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:static;
    margin: 0 15px;
}

.div-two {
    content: " ";
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:relative;
    margin: 5px 15px;
}

.div-three {
    content: " ";
    background-color: green;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:relative;
   margin: 0 15px;
} */